<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>¡Bienvenido!</h1>
    </header>
    <div class="content">
      <p>
        Somos todos demasiado secos. ¿Sabes por qué? Porque nos juntamos a estudiar.
      </p>
      <ul class="actions">
        <li><%= link_to "Baja un poco", "#one", class: "button next scrolly" %></li>
      </ul>
    </div>
  </div>
</section>

<div id="main">
  <!-- One -->
    <section id="one" class="tiles">
      <article>
        <span class="image">
          <%= image_tag("pic01.jpg") %>
        </span>
        <header class="major">
          <h3><%= link_to "Campuses", venues_url, class: "link" %></h3>
          <p><b>Conoce</b> todos los campus existentes en nuestra plataforma.</p>
        </header>
      </article>
      <!--
      <article>
        <span class="image">
          <%#= image_tag("pic02.jpg") %>
        </span>
        <header class="major">
          <h3><%#= link_to "Eventos", events_url, class: "link" %></h3>
          <p><b>Descubre</b> los eventos más relevantes dentro de tu universidad.</p>
        </header>
      </article>
      <article>
        <span class="image">
          <%#= image_tag("pic03.jpg") %>
        </span>
        <header class="major">
          <h3><%#= link_to "Salas de Estudio", rooms_url, class: "link" %></h3>
          <p><b>Explora</b> las distintas salas de estudio en las que te puedes juntar con tus amigos.</p>
        </header>
      </article>
      <article>
        <span class="image">
          <%#= image_tag("pic05.jpg") %>
        </span>
        <header class="major">

          <h3><%#= link_to "Ramos", courses_url, class: "link" %></h3>
          <p><b>Visualiza</b> todos los ramos que ofrece tu universidad.</p>
          </br>
          <p><i>¿Eres parte del equipo docente de alguno? Ingresa acá para solicitar ser moderador.</i><p>
        </header>
      </article>
      <article>
        <span class="image">
          <%#= image_tag("pic06.jpg") %>
        </span>
        <header class="major">
          <% if user_signed_in? %>
            <h3><%#= link_to "Editar Perfil", edit_user_registration_path, class: "link" %></h3>
          <% else %>
            <h3><%#= link_to "Regístrate!", new_user_registration_url, class: "link" %></h3>
          <% end %>
          <p>¿Quieres ser ultra seco? Úete a nuestra comunidad.</p>
        </header>
      </article>
      -->
    </section>

  <!-- Two
    <section id="two">
      <div class="inner">
        <header class="major">
          <h2>Massa libero</h2>
        </header>
        <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
        <ul class="actions">
          <li><a href="landing.html" class="button next">Get Started</a></li>
        </ul>
      </div>
    </section> -->

</div>
