<h1>Responder a la Solicitud</h1>

<%= form_for @moderator_request do |f| %>

  <div class="field">
    <%= f.select :status, ModeratorRequest.statuses.keys, placeholder: 'Estado' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar estado" %>
  </div>

<% end %>

<%= link_to 'Volver', course_moderator_requests_path(@course) %>
