<div class="inner">

  <p>
    <strong>Contenido:</strong>
    <%= @comment.content %>
  </p>

  <p>
    <strong>Fecha de creación:</strong>
    <%= @comment.comment_date.strftime("%d/%m/%y: %H:%M:%S") %>
  </p>

  <%=
    if (@comment.created_by == current_user.id) || current_user.administrator?
      link_to 'Editar', edit_comment_path(@comment)
    end
  %>

  <%= link_to 'Volver', publication_comments_path(@publication) %>

</div>
