/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* line 9, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 16, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert h4 {
  margin-top: 0;
  color: inherit;
}
/* line 22, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert .alert-link {
  font-weight: bold;
}
/* line 27, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
/* line 32, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert > p + p {
  margin-top: 5px;
}

/* line 42, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
/* line 47, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* line 59, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
/* line 8, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-success hr {
  border-top-color: #c9e2b3;
}
/* line 12, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-success .alert-link {
  color: #2b542c;
}

/* line 63, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* line 8, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-info hr {
  border-top-color: #a6e1ec;
}
/* line 12, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-info .alert-link {
  color: #245269;
}

/* line 67, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
/* line 8, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-warning hr {
  border-top-color: #f7e1b5;
}
/* line 12, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-warning .alert-link {
  color: #66512c;
}

/* line 71, /myapp/app/assets/stylesheets/bootstrap-alerts.scss */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
/* line 8, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-danger hr {
  border-top-color: #e4b9c0;
}
/* line 12, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-danger .alert-link {
  color: #843534;
}
