<p>
  <strong>Letra:</strong>
  <%= @room.letter %>
</p>

<p>
  <strong>Número:</strong>
  <%= @room.number %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Volver', rooms_path %>
